.search{
    margin-bottom: 8px;   
}
.list-item{
    flex-direction: inherit;
    justify-content: space-between;
    width: 200px;
}
.list-item p{
    overflow: hidden;
    overflow-wrap: break-word;
    cursor: pointer;
}
.list-item span{
    color: red;
    cursor: pointer;
}
.todo-item-complete{
    text-decoration: line-through;
    color: gray;
}
.todo-item-text{
    color: black;
}